# Ignore everything
*

# But allow .gitignore itself
!.gitignore

# Allow express-app package.json and index.js
!ExpressJS/
ExpressJS/*
!ExpressJS/package.json
!ExpressJS/app.js
!ExpressJS/routes.js
!ExpressJS/controller.js
!ExpressJS/service.js
!ExpressJS/logger.js


# Allow NestJS package.json and src folder
!nest-js/
!nest-js/package.json
!nest-js/src/
!nest-js/src/**
!nest-js/tsconfig.json